{{#if sessionPurchase}}
<div class="card-header bg-secondary h">
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <h2 class="card-title font-weight-bold">Carrito de compras</h2>
    </div>
  </div>
</div>
</br>
{{>steps commit=true}}
</br>
{{#if sessionPurchase.cartShopping}}
  {{>messageInfo infoMsg='Confirma o descarta la compra'}}
{{/if}}
<div class="card text-center text-white bg-dark mb-3">
  <ul class="list-group">
    {{#each sessionPurchase.cartShopping}}
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{this.item.name}} : $ {{this.item.price_string}}</h4>
    </div>
    </br>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label=""
        aria-describedby="basic-addon1" value="{{this.quantity}}" disabled
        id="{{@index}}quantity{{this.id}}" name="{{@index}}quantity{{this.id}}">
      <div class="input-group-prepend">
        <a href="/addQuant?code={{this._id}}" class="btn btn-outline-secondary">+
            <!--onclick="addOneButton('{{@index}}quantity{{this.id}}')">+-->
        </a>
        <a href="/subQuant?code={{this._id}}" class="btn btn-outline-secondary">-
            <!--onclick="substractOneButton('{{@index}}quantity{{this.id}}')">--->
          </a>
      </div>
    </div><!--input group-->
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">Subtotal: $ {{{getSubtotal this.item.price_number this.quantity}}}</h4>
    </div>
    </br>
    <a href="/remKart?code={{this._id}}" class="btn btn-danger">Quitar</a>
    </br>
    <div role="separator" class="dropdown-divider"></div>
    </br>
    {{/each}}
  </ul>
  <h4 class="text-right">Total: $ {{{getTotal sessionPurchase.cartShopping}}}</h4>

</div>  <!--card center-->
{{/if}}

{{#if sessionPurchase.cartShopping}}
  <form method="post" action="/step">
    <input type="text" class="form-control" hidden value="2" name="step" id="step">
    <button type="submit" class="btn btn-success btn-lg btn-block">Siguiente</button>
  </form>
{{/if}}
