<!--ROW 1-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Nombre</label>
    <div class="input-group-lg mb-3">
        <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceName"
          name="servicePlaceName" placeholder="Nombre" required
          {{#if servicePlace}}
          value="{{servicePlace.name}}"
          {{/if}}
          >
    </div>
  </div>
</div><!--ROW 1-->
</br>
<!--ROW 2-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Direcci贸n</label>
    <div class="input-group-lg mb-3">
        <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceAddress"
          name="servicePlaceAddress" placeholder="Direcci贸n"
          {{#if servicePlace}}
          value="{{servicePlace.address}}"
          {{/if}}
          >
    </div>
  </div>
</div><!--ROW 2-->
</br>
<!--ROW 3-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Url maps</label>
    <div class="input-group-lg mb-3">
        <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceUrlMaps"
          name="servicePlaceUrlMaps" placeholder="url Maps"
          {{#if servicePlace}}
          value="{{servicePlace.urlMaps}}"
          {{/if}}
          >
          <small id="helpUrlMaps" class="form-text text-muted">
            <a href="https://www.google.com/maps/" target="_blank">maps</a>
            <a href="https://www.shorturl.at/" target="_blank"> shortened url</a>
          </small>
    </div>
  </div>
</div><!--ROW 3-->
</br>
<!--ROW 4-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Descripci贸n</label>
    <div class="input-group-lg mb-3">
        <textarea class="form-control-lg text-white bg-dark" id="servicePlaceDescription"
          name="servicePlaceDescription" placeholder="Descripci贸n" rows="5"
          style="height: 106px">
          {{#if servicePlace}}
          {{servicePlace.description}}
          {{/if}}
        </textarea>
    </div>
  </div>
</div><!--ROW 4-->
</br>
<!--ROW 5-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Nuestra imagen</label>
    <div class="input-group-lg mb-3">
        <input type="file" class="form-control-lg text-white bg-dark" id="image"
          name="image" onchange="updateImage(this, '#imageUploaded');" accept="image/">
        </input>
    </div>
    </br>
    {{{getImageFromServicePlace servicePlace}}}

  </div> <!--col-->
</div><!--ROW 5-->

</br>
<div class="form-row">
  <div class="col">
    <div class="input-group mb-3">
      <button class="btn btn-success btn-lg btn-block" type="submit">
        {{#if servicePlace}}
        Actualizar
        {{else}}
        Asociar
        {{/if}}
      </button>
    </div>
  </div>
</div>
