<form action="/partner" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_contactId" id="_contactId" value="{{contact._id}}">
  <input type="hidden" name="_partnerId" id="_partnerId" value="{{contact._partnerId}}">
  <div class="form-group">
    <div {{#if servicePlace}} class="accordion bg-dark" {{else}} class="bg-dark" {{/if}} id="accordingServicePlace">
      {{#if servicePlace}}
      <div class="card-header" id="headingOne">
        <h class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
            {{servicePlace.name}}
          </button>
        </h>
      </div>
      {{/if}}

      {{#if servicePlace}}
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
        data-parent="#accordingServicePlace">
      {{/if}}
        <div class="card-body bg-dark">
          <!--ROW 1-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Nombre</label>
              <div class="input-group-lg mb-3">
                  <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceName"
                    name="servicePlaceName" placeholder="Nombre" required
                    {{#if servicePlace}}
                    value="{{servicePlace.name}}"
                    {{/if}}
                    >
              </div>
            </div>
          </div><!--ROW 1-->
          </br>
          <!--ROW 2-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Direcci贸n</label>
              <div class="input-group-lg mb-3">
                  <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceAddress"
                    name="servicePlaceAddress" placeholder="Direcci贸n"
                    {{#if servicePlace}}
                    value="{{servicePlace.address}}"
                    {{/if}}
                    >
              </div>
            </div>
          </div><!--ROW 2-->
          </br>
          <!--ROW 3-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Descripci贸n</label>
              <div class="input-group-lg mb-3">
                  <textarea class="form-control-lg text-white bg-dark" id="servicePlaceDescription"
                    name="servicePlaceDescription" placeholder="Descripci贸n" rows="5"
                    style="height: 106px">
                    {{#if servicePlace}}
                    {{servicePlace.description}}
                    {{/if}}
                  </textarea>
              </div>
            </div>
          </div><!--ROW 3-->
          </br>
          <!--ROW 4-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Imagen</label>
              <div class="input-group-lg mb-3">
                  <input type="file" class="form-control-lg text-white bg-dark" id="image"
                    name="image" onchange="updateImage(this, '#imageUploaded');" accept="image/">
                  </input>
              </div>
              </br>
              {{{getImageFromServicePlace servicePlace}}}

            </div> <!--col-->
          </div><!--ROW 4-->
        </div> <!--card body-->
        <div class="form-row">
          <div class="col">
            <div class="input-group mb-3">
              <button class="btn btn-success btn-lg btn-block" type="submit">
                {{#if servicePlace}}
                Actualizar
                {{else}}
                Asociar
                {{/if}}
              </button>
            </div>
          </div>
        </div>
      </div> <!--collapse-->
    </div> <!--accordion-->
  </div> <!--div form-group-->
</form>
