<form action="/partner" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_contactId" id="_contactId" value="{{contact._id}}">
  <input type="hidden" name="_partnerId" id="_partnerId" value="{{contact._partnerId}}">
  <div class="form-group">
    <div class="card">
      <div class="card-header bg-secondary h">
        <span class="input-group-addon"><i class="fa fa-map-marker fa-1x fa-fw" style="color:white"></i></span>
        <h class="card-title">Punto de servicio</h>
      </div>
    </div>

    <div {{#if servicePlace}} class="accordion bg-dark" {{else}} class="bg-dark" {{/if}} id="accordingServicePlace">
      {{#if servicePlace}}
      <div class="card-header" id="headingOne">
        <h class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
            {{servicePlace.name}}
          </button>
        </h>
      </div>
      {{/if}}

      {{#if servicePlace}}
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
        data-parent="#accordingServicePlace"> {{/if}}
        <div class="card">
          <div class="card-header bg-secondary h5">
            <!--ROW 1-->
            <div class="form-row">
              <div class="col">
                <button class="btn btn-success my-3 my-sm-0 updatePartner" type="submit" style="font-size: 25px">
                <span class="input-group-addon"><i class="fa fa-pencil-square-o fa-1x fa-fw" aria-hidden="true"></i></span>
                {{#if contact._partnerId}} Actualizar {{else}} Asociar {{/if}}
                </button>
              </div>
            </div><!--ROW 1-->
          </div> <!--header-->
        </div><!--card-->

        <div class="card-body bg-dark">
          <!--ROW 1-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Nombre</label>
              <div class="input-group">
                  <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceName"
                    name="servicePlaceName" placeholder="Nombre" required
                    {{#if servicePlace}}
                    value="{{servicePlace.name}}"
                    {{/if}}
                    >
              </div>
            </div>
          </div><!--ROW 1-->
          </br>
          <!--ROW 2-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Direcci贸n</label>
              <div class="input-group">
                  <input type="text" class="form-control-lg text-white bg-dark" id="servicePlaceAddress"
                    name="servicePlaceAddress" placeholder="Direcci贸n"
                    {{#if servicePlace}}
                    value="{{servicePlace.address}}"
                    {{/if}}
                    >
              </div>
            </div>
          </div><!--ROW 2-->
          </br>
          <!--ROW 3-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Descripci贸n</label>
              <div class="input-group">
                  <textarea class="form-control-lg text-white bg-dark" id="servicePlaceDescription"
                    name="servicePlaceDescription" placeholder="Descripci贸n" rows="5"
                    style="height: 106px">
                    {{#if servicePlace}}
                    {{servicePlace.description}}
                    {{/if}}
                  </textarea>
              </div>
            </div>
          </div><!--ROW 3-->
          </br>
          <!--ROW 4-->
          <div class="form-row">
            <div class="col">
              <label for="labelName" class="text-light">Imagen</label>
              <div class="input-group">
                  <input type="file" class="form-control-lg text-white bg-dark" id="image"
                    name="image" onchange="updateImage(this, '#imageUploaded');" accept="image/">
                  </input>
              </div>
              </br>
              {{{getImageFromServicePlace servicePlace}}}

            </div> <!--col-->
          </div><!--ROW 4-->
        </div> <!--card body-->
      {{#if servicePlace}}
      </div> <!--collapse-->
      {{/if}}
    </div> <!--accordion-->
  </div> <!--div form-group-->
</form>
