<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="/images/enpunto.png">
    <title>en-punto.com</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <script src="js/contactUIHelper.js"></script>
    <script src="js/utilEvents.js"></script>
    <div class="jumbotron" style="background-color:#152238">
      <div class="container">
        <img src="/images/enpunto.png" class="rounded mx-auto d-block">
        </br>
        <!--<h1 class="elguater">Enpunto.com</h1>-->

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarNav" aria-controls="navbarNav"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/" style="color:white">Inicio <span class="sr-only">(current)</span></a>
              </li>
            </ul>

            {{#if session}}
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" style="color: white"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-user" aria-hidden="true"></i>
                       &nbsp;
                       {{#if contact.name}}
                       {{contact.name}}
                       {{else}}
                       {{contact.cellPhoneNumber}}
                       {{/if}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item">Usuario:</a>
                      {{#if contact.name}}
                      <a class="dropdown-item font-weight-bolder">{{contact.name}}</a>
                      {{else}}
                      <a class="dropdown-item font-weight-bolder">{{contact.cellPhoneNumber}}</a>
                      {{/if}}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/contact-edit">Actualizar datos</a>
                      <a class="dropdown-item" href="/formNewContact">Mi cuenta</a>
                    </div>
                  </li>
                </ul>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="btn btn-outline-light" href="/logout">Salir</a>
                </div>
              </div>

            {{/if}} <!--if session-->

          </nav>
        </div>
      </br>
