<!--ROW 1-->
<div class="form-row">
  <div class="col">
    <label for="labelName" class="text-light">Nombre</label>
    <div class="input-group-lg mb-3">
      <input type="text" class="form-control-lg text-white bg-dark"
        placeholder="Nombre" required
        {{#if item}}
        value="{{item.name}}"
          {{#unless isEdit}}
          readonly
          {{/unless}}
        {{/if}}
        {{#if isEdit}}
        id="itemName"
        name="itemName"
        {{else}}
        id="itemName{{item._id}}"
        name="itemName{{item._id}}"
        {{/if}}
        >
    </div> <!--input-group-->
  </div><!--col-->
</div> <!--ROW 1-->
</br>
<!--ROW 2-->
<div class="form-row">
  <div class="col">
    <label for="labelDescription" class="text-light">Descripción</label>
    <div class="input-group-lg mb-3">
        <textarea class="form-control-lg text-white bg-dark"
          {{#if isEdit}}
          id="itemDescription"
          name="itemDescription"
          {{else}}
          id="itemDescription{{item._id}}"
          name="itemDescription{{item._id}}"
          {{/if}}
          placeholder="Descripción" rows="5" style="height:106px"
          {{#if item}}
            {{#unless isEdit}}
            readonly
            {{/unless}}
          {{/if}}
          >

          {{#if item}}
          {{item.description}}
          {{/if}}
        </textarea>
    </div>
  </div>
</div><!--ROW 2-->
</br>
<!--ROW 3-->
<div class="form-row">
  <div class="col">
    <label for="labelPriceDefault" class="text-light">Precio predeterminado</label>
    <div class="input-group-lg mb-3">
      <input type="text" class="form-control-lg text-white bg-dark"
        placeholder="Precio predeterminado"
        onkeyup="formatMilesSeparetor(this);" onchange="formatMilesSeparetor(this);"
        {{#if item}}
        value={{item.price_default}}
          {{#unless isEdit}}
          readonly
          {{/unless}}
        {{/if}}
        {{#if isEdit}}
        id="itemPrice"
        name="itemPrice"
        {{else}}
        id="itemPrice{{item_id}}"
        name="itemPrice{{item_id}}"
        {{/if}}
        >
    </div> <!--input-group-->
  </div> <!--col-->
</div> <!--ROW 3-->
</br>
<!--ROW 4-->
<div class="form-row">
  <div class="col">
    <label for="labeImage" class="text-light">Imagen</label>
    <div class="input-group-lg mb-3">
        {{#if isEdit}}
        <input type="file" class="form-control-lg text-white bg-dark" id="image"
        name="image" onchange="updateImage(this, '#imageUploadedItem');" accept="image/">
        </input>
        {{else unless item}}
        <input type="file" class="form-control-lg text-white bg-dark" id="image"
        name="image" onchange="updateImage(this, '#imageUploadedItem');" accept="image/">
        </input>
        {{/if}}
    </div>
    </br>
    {{{getImageFromItem item}}}

  </div> <!--col-->
</div><!--ROW 4-->
</br>
<!--ROW 5-->
<div class="form-row">
  <div class="col">
    <label for="labeImage" class="text-light">Mostrar plato en la tienda</label>
    <div class="input-group-lg mb-3">
      <input class="form-control-lg check-input" type="checkbox" id="showItem" name="showItem"
      {{#if item.showItem}} checked  {{/if}} {{#unless isEdit}} readonly {{/unless}}>





    </div>
  </div> <!--col-->
</div>
