{{>header}}
<div class="container">
  <form action="/postItem" method="post" enctype="multipart/form-data">
    <input type="hidden" name="isUpdate" value="{{isUpdate}}">
    <div class="form-group">
      <h5 class="card-title">Registrar artículo</h5>
      <br>
      <div class="container">
        <!--ROW 0-->
        <div class="form-row">
          <div class="col-xs-12 col-md-6 col-lg-6">
            {{#if item}}
              <img src="data:img/png;jpeg;jpg;base64, {{{getImageFromItem item}}}"
                class="rounded float-left w-50" alt="..." name="imageUploaded" id="imageUploaded">
            {{else}}
              <img src="{{{getImageFromItem item}}}" class="rounded float-left w-50" alt="Sin imagen" name="imageUploaded" id="imageUploaded">
            {{/if}}
            <input type="file" onchange="updateImage(this);" class="form-control" name="image" accept="image/">
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <label for="labelDocumentId" class="label">Código</label>
              <input type="text" class="form-control" name="code"
                     aria-describedby="Código" required
                     {{#if isUpdate}} value="{{item.code}}" {{/if}}>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
              <label for="labelLastName">Nombre</label>
              <input type="text" class="form-control" name="name"
                     aria-describedby="Nombre" required
                     {{#if isUpdate}} value="{{item.name}}" {{/if}}>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
              <label for="labelQuantity">Cantidad</label>
              <input type="text" class="form-control" name="quantity"
              {{#if isUpdate}} value="{{item.quantity}}" {{/if}}>
            </div>


          </div>
        </div>
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <label for="labelPurchasePrice">Precio compra</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" name="purchasePrice" id="purchasePrice"
                     aria-describedby="Precio compra" required
                     onkeyup="formatMilesSeparetor(this);" onchange="formatMilesSeparetor(this);"
                     {{#if isUpdate}} value="{{item.purchase_price}}" {{/if}}>
           </div>
          </div>
          <div class="col">
            <label for="labelFirstName">Precio venta</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" name="salePrice" id=salePrice
                     aria-describedby="Prcio venta" required
                     onkeyup="formatMilesSeparetor(this);" onchange="formatMilesSeparetor(this);"
                     {{#if isUpdate}} value="{{item.sale_price}}" {{/if}}>
           </div>
          </div>
        </div>
        <!--ROW 2-->
        <div class="form-row">
          <div class="col">
            <label for="labelFirstName">Descripción</label>
            <textarea class="form-control" name="description" rows="3">{{#if isUpdate}} {{item.description}} {{/if}}
            </textarea>
          </div>
          <div class="col">
            <label for="labelFirstName">Comentario</label>
            <textarea class="form-control" name="comment" rows="3">{{#if isUpdate}} {{item.comment}} {{/if}}
            </textarea>
          </div>
        </div>
        <!--ROW 3-->

        <!--ROW 4-->
        <div class="form-row">
          <div class="col">
            &nbsp
          </div>
        </div>
        <!--ROW 5-->
        <div class="form-row">
          <div class="col">
            {{#if isUpdate}}
              <button class="btn btn-primary my-2 my-sm-0" onclick="formatMilesSeparetor(purchasePrice);formatMilesSeparetor(salePrice);">Actualizar</button>
            {{else}}
              <button class="btn btn-primary my-2 my-sm-0">Crear</button>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{{>footer}}
