{{>header}}
<div class="container">
  </br>

  <!--Error message -->
  {{#if errorMsg}}
    {{>messageError}}
  {{/if}}
  <!--Success message -->
  {{#if successMsg}}
    {{>messageSuccess}}
  {{/if}}

  {{#unless session}}

  <form method="post" action="/login" class="searchContact">
      <div class="card-header bg-secondary h">
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <span class="input-group-addon"><i class="fa fa-sign-in fa-1x fa-fw" style="color:white"></i></span>
            <h class="card-title">Iniciar sesión.</h>

          </div>
        </div>
      </div><!--card header-->
      <div class="card text-center text-white bg-dark mb-3">
        <div class="card-body bg-dark">
          <!--ROW 1-->
          <div class="form-row">
            <div class="col">
              {{>cellPhoneView}}
            </div>
          </div><!--ROw 1-->
          </br>
          <!--ROW 2-->
          <div class="form-row">
            <div class="col">
              <div class="input-group-lg mb-3">
                <button class="btn btn-success btn-lg searchContact" type="submit">
                <span class="input-group-addon"><i class="fa fa-sign-in fa-1x fa-fw" style="color:white"></i></span>
                Iniciar
                </button>
              </div>
            </div>
          </div><!--ROW 2-->
        </div> <!--card body-->
    </div>
  </form>
  </br>
  {{#if warningMsg}}
  {{>messageWarning}}
  {{/if}}
  {{/unless}}
  </br>

  {{#each allServicePlaces}}
  <div class="card text-center text-white bg-dark mb-3">
    <div class="card-header">
      <a href="/formStore?servicePlaceId={{_id}}">
        <h5 class="card-title">{{name}}</h5>
      </a>
    </div>
    <div class="card-body">
      <a href="/formStore?servicePlaceId={{_id}}">
      {{{getImageFromServicePlace this}}}
      </a>
      <p class="card-text">{{description}}</p>
    </div>
  </div><!--card center-->
  {{/each}}

</div>
{{>footer}}
