{{#if sessionPurchase}}
  <div class="card-header bg-secondary h">
    <!--ROW 1-->
    <div class="form-row">
      <div class="col">
        <h2 class="card-title font-weight-bold">Pago</h2>
      </div>
    </div>
  </div>

  </br>

  {{>steps payment=true}}

  </br>

  {{#if sessionPurchase.cartShopping}}
    {{>messageInfo infoMsg='Selecciona la forma en que deseas pagar'}}
  {{/if}}

  <form method="post" action="/step">
    <div class="card text-center text-white bg-dark mb-3">
      <div class="form-row">
        <h5 class="card-title form-control-lg">Cuenta bancaria</h5>
      </div>
      <div class="form-row">
        <div class="input-group mb-3">
          <select class="custom-select" id="selectAccount"
                  name="selectAccount" onchange="onchangeSelectAccount(this.value)">
            <option value="null" selected>Selecciona...</option>
            {{#each bankAccounts}}
              <option value="{{_id}}">{{accountName}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>



      {{#each bankAccounts}}
        <div class="detailsAccount" id="details.{{_id}}" style="display:none">
          <div class="input-group-lg mb-3">
            <div class="input-group input-group-sm mb-3">

              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                     value="{{accountNumber}}" id="accountNumber.{{_id}}">
              <div class="input-group-prepend" onclick="javascript:copyText('{{_id}}');" id="detail">
                <span class="input-group-text" id="inputGroup-sizing-sm">Copiar</span>
              </div>       
            </div>
            <!-- <button type="button" id="detail"
                    class="btn btn-primary btn-sm"
                    value="{{accountNumber}}"
                    onclick="javascript:copyText('{{_id}}');">
                    copiar
            </button> -->

            <script>
              // With the above scripts loaded, you can call `tippy()` with a CSS
              // selector and a `content` prop:
              tippy('#detail', {
                content: 'Copiado!',
                touch: 'false',
                trigger: 'click',
              });
            </script>

            {{{getImageBankAccount imageQR}}}
          </div>
        </div>
      {{/each}}



    {{#if sessionPurchase.cartShopping}}
      <div class="row">
        <div class="col">
            <input type="text" class="form-control" hidden value="3" name="step" id="step">
            <button type="submit" class="btn btn-success btn-lg btn-block">Siguiente</button>
        </div>
      </div>
    {{/if}}
  </form>
{{/if}} <!--sessionPurchase-->
