{{#if sessionPurchase}}
  <div class="card-header bg-secondary h">
    <!--ROW 1-->
    <div class="form-row">
      <div class="col">
        <h2 class="card-title font-weight-bold">Entrega</h2>
      </div>
    </div>
  </div>

  </br>

  {{>steps wayToDelivery=true}}

  </br>

  {{#if sessionPurchase.cartShopping}}
    {{>messageInfo infoMsg='Selecciona la forma de entrega'}}
  {{/if}}

  <form method="post" action="/step">
    <div class="card text-center text-white bg-dark mb-3">
      <div class="form-row">
        <div class="col">
          <h5 class="card-title form-control-lg">Domicilio</h5>
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input form-control" type="radio"
                   name="radioWayToDelivery" id="radioDelivery" value="delivery"
                   {{{radioWayToDeliveryChecked sessionPurchase.wayToDelivery 'delivery'}}}
                   onclick="javascript:wayToDeliveryCheck('1');">
          </div>
        </div>
      </div>
      </br>

      <div id="deliveryFields" style="{{{wayToDeliveryVisivility sessionPurchase.wayToDelivery 'delivery'}}}">
        <!-- <label for="labelAddress" class="text-light">Dirección</label> -->
        <div class="input-group-lg mb-3">
          <input type="text" class="form-control-lg text-white bg-dark"
            placeholder="Donde deseas recibir la compra"
            id="addressToDelevery"
            name="addressToDelevery"
            {{#if contactSession.address}}
            value="{{contactSession.address}}"
            {{else}}
            value=""
            {{/if}}
            >
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <h5 class="card-title form-control-lg">Punto de servicio</h5>
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input form-control" type="radio"
                   name="radioWayToDelivery" id="radioOnSite" value="on site"
                   {{{radioWayToDeliveryChecked sessionPurchase.wayToDelivery 'on site'}}}
                   onclick="javascript:wayToDeliveryCheck('2');">
          </div>
        </div>
      </div>

      </br>

      <div id="onSiteFields" style="{{{wayToDeliveryVisivility sessionPurchase.wayToDelivery 'on site'}}}">
        <!-- <label for="labelAddress" class="text-light">Dirección</label> -->
        <div class="input-group-lg mb-3">
          <input type="text" class="form-control-lg text-white bg-dark"
            placeholder="Donde reclamarías la compra" required disabled
            value="{{sessionPurchase.servicePlace.address}}">
          </br>
          <a target="_blank"
             href="https://www.google.com/maps/place/Urbanizacion+Camino+Real/@6.0845746,-75.636076,17z/data=!4m12!1m6!3m5!1s0x8e468662632ed213:0x78acbce606862de1!2sUrbanizacion+Camino+Real!8m2!3d6.0845746!4d-75.636076!3m4!1s0x8e468662632ed213:0x78acbce606862de1!8m2!3d6.0845746!4d-75.636076">
            Abrir en maps
          </a>
        </div>
      </div>

      <h5 class="card-title form-control-lg">Fecha y hora de entrega {{{getDefaultDeliveryDate}}}</h5>
      <input type="datetime-local" class="input-date" id="deliveryDate" name="deliveryDate"
           min="{{{getMinDeliveryDate}}}"
           {{#if sessionPurchase.dateOfDelivery}}
            value="{{sessionPurchase.dateOfDelivery}}"
           {{else}}
            value="{{{getDefaultDeliveryDate}}}">
           {{/if}}

      <h4 class="text-right">Total: $ {{{getTotal sessionPurchase.cartShopping}}}</h4>

    </div>  <!--card center-->

    {{#if sessionPurchase.cartShopping}}
      <div class="row">
        <div class="col">
            <input type="text" class="form-control" hidden value="3" name="step" id="step">
            <button type="submit" class="btn btn-success btn-lg btn-block">Siguiente</button>
        </div>
      </div>
    {{/if}}
  </form>
{{/if}} <!--sessionPurchase-->
